<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="verifUser()" style="cursor: pointer;">Naves</a>
    <a class="nav-item nav-link" routerLink="/account/login" *ngIf="!authenticatedOk()">Login</a>
    <a class="nav-item nav-link" style="cursor: pointer;" (click)="logout()" *ngIf="authenticatedOk()">Logout</a>
  </div>
</nav>





<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>








<!-- nav -->
 <!-- <nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/naves" *ngIf="authenticatedOk(); else loginLink">
        Naves
      </a>
      <ng-template #loginLink>
        <a class="nav-item nav-link" style="cursor: pointer;" (click)="showAlert()">Naves</a>
      </ng-template>
      <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
    </div>
  </nav>
  
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  
  
  <div class="alert alert-warning" *ngIf="showWarningMessage">
    Esta página solo está disponible para usuarios registrados. Por favor, inicia sesión.
  </div> -->
  
  <!-- <app-alert-login *ngIf="showWarningMessage"></app-alert-login> -->
  



<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/naves">Naves</a>
        <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
    </div>
</nav> -->

<!-- main app container -->
<!-- <div class="container">
    <router-outlet></router-outlet>
</div> -->
