<div *ngIf="nave">
  <h2>Detalle de Nave</h2>
  <p><strong>Nombre:</strong> {{ nave.name }}</p>
  <p><strong>Modelo:</strong> {{ nave.model }}</p>
  <p><strong>Clase:</strong> {{ nave.starship_class }}</p>
  <p><strong>Fabricante:</strong> {{ nave.manufacturer }}</p>
  <p><strong>Longitud:</strong> {{ nave.length }}</p>
  <p><strong>Velocidad Máxima:</strong> {{ nave.max_atmosphering_speed }}</p>
  <p><strong>Equipo:</strong> {{ nave.crew }}</p>
  <p><strong>Pasajeros:</strong> {{ nave.passengers }}</p>
  <p><strong>Capacidad de carga:</strong> {{ nave.cargo_capacity }}</p>
  <p><strong>Consumibles:</strong> {{ nave.consumables }}</p>
  <p><strong>Costo en créditos:</strong> {{ nave.cost_in_credits }}</p>
  <p><strong>Hyperdrive:</strong> {{ nave.hyperdrive_rating }}</p>
  <p><strong>MGLT:</strong> {{ nave.MGLT }}</p>

  
  <img [src]="getNaveImageUrl()" alt="Imagen de la nave">

</div>

  
